<footer>
    <div class="container">
        <div class="footer-links">
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Service</a> |
            <a href="#">Contact Us</a>
        </div>
        
        <div class="social-icons">
            <a href="https://www.facebook.com/OtagoPolyAIC" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://x.com/opauckland" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/school/otago-polytechnic-auckland-international-campus/?originalSubdomain=nz" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/otagopolytechnic" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        
        <div class="newsletter">
            <form>
                <input type="email" placeholder="Subscribe to our newsletter">
                <input type="submit" value="Subscribe">
            </form>
        </div>
        
        <p>&copy; 2024 Otago Polytechnic Auckland International Campus</p>
    </div>
</footer>